{{#if this.category}}
  <div class="custom-category-banner">
      <div class="custom-category-banner_background" style="custom-category-banner-background">
        {{#if this.category.uploaded_logo.url}}
          <CategoryLogo @category={{this.category}} />
        {{/if}}
      </div>

      <div class="custom-category-banner_meta" style="{{this.categoryBgColor}}">
          <div class="custom-category-banner_meta-text" style="height: 25px;">
            <h1>
              <a
                href="/c/{{this.category.slug}}"
                style="{{this.categoryTextColor}}"
              >
                {{this.category.name}}
              </a>
            </h1>
          </div>
    </div>
  </div>
{{/if}}