{{#if this.category}}
  <div class="custom-category-banner">
    {{#if this.category.uploaded_logo.url}}
      <div class="custom-category-banner_background" style="{{this.bannerBg}}">
        <CategoryLogo @category={{this.category}} />
      </div>
    {{/if}}
    <div class="custom-category-banner_meta" style="{{this.categoryBgColor}}">
      {{#unless this.category.uploaded_logo.url}}
        <div class="custom-category-banner_meta-text">
          <h1>
            <a
              href="/c/{{this.categorySlug}}"
              style="{{this.categoryTextColor}}"
            >
              {{this.category.name}}
            </a>
          </h1>
        </div>
      {{/unless}}
    </div>
  </div>
{{/if}}
