<h4>{{theme-i18n "recent_topics"}}</h4>
<div
  class="custom-right-sidebar_recent-topics"
  {{did-insert this.getLatestTopics}}
>
  {{#each this.latestTopics as |topic|}}
    {{! this is largely topic-list-item.hbr, 
        but using that component directly was causing 
        eyeline issues with loading more topics on }}
    <div class="custom-right-sidebar_recent-topics-wrappper">
      <div class="custom-topic-layout">
        <div class="custom-topic-layout_meta">
          {{#unless hideCategory}}
            {{#unless topic.isPinnedUncategorized}}
              {{category-link topic.category}}
              <span class="bullet-separator">&bull;</span>
            {{/unless}}
          {{/unless}}
          <span class="custom-topic-layout_meta-posted">
            <span class="custom-topic-layout_meta-posted-by">Posted by</span>
            <a
              data-user-card={{topic.posters.0.user.username}}
              href="/u/{{topic.posters.0.user.username}}"
            >@{{topic.posters.0.user.username}}</a>
            {{format-date
              topic.createdAt
              format="medium"
              noTitle="true"
              leaveAgo="true"
            }}
          </span>
        </div>

        <h2 class="link-top-line">
          {{~topic-link topic class="raw-link raw-topic-link"}}

        </h2>

        <div class="link-bottom-line">
          {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}
        </div>

        {{#if topic.thumbnails}}
          <div class="custom-topic-layout_image">
            <img
              height={{topic.thumbnails.0.height}}
              width={{topic.thumbnails.0.width}}
              src={{topic.thumbnails.0.url}}
            />
          </div>
        {{/if}}

        <div class="custom-topic-layout_bottom-bar">
          <span class="reply-count">
            {{d-icon "reply"}}
            {{topic.replyCount}}
            {{i18n "replies"}}
          </span>
          <span class="share-toggle">
            {{d-icon "link"}}
            {{i18n "post.quote_share"}}
          </span>
        </div>
      </div>

    </div>
  {{/each}}
</div>