{{#if this.category}}
  {{! ensure we've got something to show so we don't get an empty block}}
  {{#if (or this.category.description this.currentUser)}}
    <div class="custom-right-sidebar_category-about">
      {{#if this.category.description}}
        <h3>About this category</h3>
        {{html-safe this.category.description}}
      {{else}}
        {{#if this.currentUser.admin}}
          <h3> Psst, hey admins!</h3>
          <p>
            You can add a category description here by editing
            <a href={{this.category.topic_url}}>this post</a>.
          </p>
        {{/if}}
      {{/if}}
      {{#if this.currentUser}}
        <div
          class="custom-right-sidebar_controls"
          {{did-insert this.updateCategoryNotificationLevel}}
        >
          {{#if this.currentUser.can_create_topic}}
            <DButton
              @class="btn-default"
              @id="custom-create-topic"
              @action={{action "customCreateTopic"}}
              @icon="plus"
              @translatedLabel={{i18n "topic.create"}}
            />
          {{/if}}
          <CategoryNotificationsButton
            @value={{this.categoryNotificationLevel}}
            @category={{this.category}}
            @onChange={{action "changeCategoryNotificationLevel"}}
          />

          <AddToSidebar @tag={{this.tag}} @category={{this.category}} />
        </div>
      {{/if}}

    </div>
    {{#if (or this.category.subcategories this.site.category_top_tags)}}

      <div class="custom-right-sidebar_category-about">

        {{#if this.category.subcategories}}
          <div class="custom-right-sidebar_subcategories">
            <h4>Subcategories</h4>
            {{#each this.category.subcategories as |subcategory|}}
              {{category-link subcategory}}
            {{/each}}
          </div>
        {{/if}}

        {{#if this.site.category_top_tags}}
          <div class="custom-right-sidebar_tags">

            <h4>Top Tags</h4>
            <div class="discourse-tags">
              {{#each this.site.category_top_tags as |tag|}}
                <a
                  href="/tags/c/{{this.category.slug}}/{{tag}}"
                  data-tag-name="{{tag}}"
                  class="discourse-tag simple"
                >{{tag}}</a>
              {{/each}}
            </div>
          </div>
        {{/if}}

      </div>
    {{/if}}
  {{/if}}
{{/if}}